.recipe{
    border: 0.01rem solid #ffa36c;
    border-radius: 4rem;
    padding: 2rem;
    margin: 1rem;
    background-color: #fce886 ;
    outline: none;
    flex: 1;
    min-width: 20rem;
}

.recipe:hover{
    background-color:#FBC02D
}

.picture{
    width: 15rem;
    height: 15rem;
}

